h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
section,
body,
ul,
li,
a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
.invert-colors {
  background: #2d83b5;
}
.invert-colors h1,
.invert-colors h2,
.invert-colors h3,
.invert-colors h4,
.invert-colors h5,
.invert-colors h6,
.invert-colors p,
.invert-colors div,
.invert-colors span,
.invert-colors section,
.invert-colors body,
.invert-colors ul,
.invert-colors li,
.invert-colors a {
  color: #f4f5f5;
}
.invert-colors .fancy-title::before,
.invert-colors .fancy-title::after {
  background: #f4f5f5;
}
.invert-colors .btn-link {
  color: #2d83b5;
}
body {
  font-size: 100%;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.2em;
}
p {
  font-size: 1.4em;
}
.orange {
  background: #ffa434 !important;
  border-color: #ffb55a !important;
  color: white !important;
}
.blue {
  background: #2d83b5 !important;
  border-color: #2d83b5 !important;
  color: white !important;
}
.navy {
  background: #2c3e50 !important;
  border-color: #2c3e50 !important;
  color: white !important;
}
body {
  margin: 0%;
}
section {
  margin-top: 5%;
  padding: 5%;
}
section img {
  float: right;
}
hr {
  width: 100%;
}
footer {
  margin-top: 5%;
  padding: 5%;
}
.layout-nav {
  top: 0;
  justify-content: space-around;
}
.layout-flex-column,
.layout-container {
  display: flex;
  flex-direction: column;
}
.layout-flex-row {
  display: flex;
  flex-direction: row;
}
.layout-flex {
  display: flex;
}
.layout-plain-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.layout-row-wrap-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-row-wrap-list * {
  flex-grow: 1;
  flex-basis: 0;
  margin: 10px;
}
.hero-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-unit * {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-unit img {
  width: 232px;
  height: 319px;
}
.hero-unit h1 {
  width: 100%;
  text-align: center;
}
.hero-unit .skills {
  font-size: 1.4em;
  text-align: center;
}
.hero-unit .features {
  font-size: 1.4em;
  white-space: nowrap;
  text-align: center;
}
nav {
  height: 60px;
  align-items: center;
}
nav .title {
  font-size: 1.2em;
  font-weight: bold;
}
nav .title a {
  text-decoration: none;
}
nav a {
  margin-left: 20px;
}
.btn-link,
.big-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px 10px;
  background: white;
  color: #2d83b5;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.big-link {
  font-size: 1.5em;
  font-weight: bold;
  min-width: 150px;
  margin: 5px;
  padding: 10px 20px;
  border: 5px solid white;
}
.fancy-title {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0px;
}
.fancy-title::before,
.fancy-title::after {
  background: #2c3e50;
  content: "";
  flex-grow: 1;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}
footer {
  display: flex;
  align-items: center;
  text-align: center;
}
