.layout-nav {
  top: 0;
  justify-content: space-around;
}

.layout-flex-column {
  display: flex;
  flex-direction: column;
}

.layout-flex-row {
  display: flex;
  flex-direction: row;
}

.layout-container {
  &:extend(.layout-flex-column);
  margin: 5%;
}

.layout-flex {
  display: flex;
}
