@import "theme.less";

.hero-unit {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 232px;
    height: 319px;
  }
  h1 {
    width: 100%;
    text-align: center;
  }
  .features {
  }
}

nav {
  align-items: center;

  .title {
  }
}

.big-link {
  display: flex;
  justify-content: center;

  min-width: 150px;
  margin: 5px;
  background: @light-blue;
  padding: 10px 20px;
  border-radius: 5px;
}

.contact-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.fancy-title {
  display: flex;
  flex-basis: 100%;
  align-items: center;

  margin: 8px 0px;

  &::before,
  &::after {
    color: rgba(0, 0, 0, 0.35);
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }
}

footer {
  display: flex;
  align-items: center;

  .info-item {
    margin: 5px;
  }
}
