@light-blue: #7ac5f1;
@blue: #2d83b5;
@navy: #2c3e50;

h1, h2, h3, h4, h5, h6, p, div, span, section, body, ul, li {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @navy;
}

.invert-colors {
  background: @blue;
  h1, h2, h3, h4, h5, h6, p, div, span, section, body, ul, li {
    color: white;
  }
}

