doctype html
html(lang="en")
  head
    title="Pat Humphreys Management Services Ltd."
    link(href='css/phms.css', rel='stylesheet')
  body
    nav.layout-nav
      .Title
        PHMS Ltd.
      .links
        ul
          li About
          li Contact

    .layout-container
      .hero-unit.layout-flex
        div.
          picture

        h1 Pat Humphreys Management Services Ltd

        .features
          span Business Advisor 
          span Lean Enterpise Manager 
          span Excellence Through Change
      .block.layout-flex
        h2 About
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu eros
          quis nunc lacinia condimentum vel a arcu. Sed ullamcorper odio a arcu
          bibendum scelerisque in non metus. Praesent imperdiet arcu ac purus
          aliquet placerat. Integer id sodales ante, in faucibus arcu.
          Suspendisse tincidunt consectetur elit, eget porttitor ipsum. Morbi
          fringilla tortor rutrum orci dapibus ullamcorper at ac ex. Nunc
          tristique leo at nulla fermentum ullamcorper. Integer neque risus,
          sollicitudin fermentum augue at, commodo accumsan libero.

      .block.layout-flex
        h2 Contact

    footer
      div.
        Copywrite Pat Humphreys Management Services Ltd.
      ul
        li Mobile
        li Vat
        li Cro
        li Email
